
body { background-color: #B88C8C; color: #f8f0e9; font-family: sans-serif; }
h1 {text-align: center}
div {
  border: 1px solid #DFD8D1;
  margin-left: 100px;
}

p {
  margin: 25px 50px 75px 100px;
}

// Place all the styles related to the Post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
